  
#main-container{
    width: 100%;
    background-color: #216ccc;
    text-align: center;
    font-family: 'Poppins',sans-serif!important;
    /* color: white; */
    flex: auto;
}
#marker{
    /* display: none; */
}
.tryit-out{
    /* display: none; */
}

.title{
    font-family: 'Poppins',sans-serif!important;
    color: white;
    font-size: 20px;

}
.overview-header{
    font-size: 35px;
    color: white;
}
.em{
    width: 30%;
    height: 75px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}
.sign-up{
    width: 30%;
    height: 75px;
    background-color: #f16334;
    border-radius: 10px;
   
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
#marker{
height: 30px;
margin-right: 280px;
}
.mid-container{
    width: 100%;
    margin: auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.small-container{
    width: 20%;
    height: 500px;
    background-color: white;
    margin: 20px;
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 150px;

}
.moving{
  
    width: 100%;
    
    background-image: url("https://cdn5.engagebay.com/images/bg-boxed-light-01.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.transition{
    width: 40%;
  font-size: 15px;
  margin-top: 50px;
   text-align: center;
   font-family: 'Poppins',sans-serif!important;
}
.santiago{
   border-radius: 125px;
}
.author-name{
    color: #4cc2c0;
}
.signup{
    background-color: #fae576;
    width: 60%;
   font-size: 20px;
   text-align: center;
   margin: auto;
   border-radius: 10px;
   border: 1px solid grey;
}
.sm123{
    font-size: 15px;
}
.smlists{
    font-size: 15px;
}
.smlists > img{
    width: 25px;
    height: 25px;
}
.smlists a{
    text-align: left;
}
.small-container{
    position: relative;
}
.img111{
    position: absolute;
    top: -60px;
    left: 42.5%;
    background-color: white;
    border-radius: 70px;
}
.footer{
    /* width: 1100px; */
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcb2jII9_8dN_hcX9TUcBd816YC7WvefbTmw&usqp=CAU);
    background-size: contain;
    justify-content: center;
}     
.footer-links{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
   
}
.links h4{
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    color: #6b6275;

}
.link-container{
    /* width: 1300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.links a {
    font-family: 'Poppins',sans-serif;
    color: #6b6275;
    text-decoration: none;
    font-size: 12px;
}
.social-media-share{
    margin: 20px;
    margin-top: 20px;
}
.social-media-share img{
    margin: 10px;
    width: 20px;
    height: 20px;
}
a:hover{
    color:black;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {}  */

/* Medium devices (landscape tablets, 768px and up) */
@media screen and ( min-width: 768px) {
   
    
}


/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */ 